@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border font-sans font-light leading-7;
  }
  main {
    @apply mx-auto max-w-3xl px-4;
  }
  section {
    @apply my-12;
  }
  h1 {
    @apply my-8 border-b-2 border-gray py-4 text-2xl font-bold;
  }
  h2 {
    @apply my-4 text-xl;
  }
  h3 {
    @apply my-4;
  }
  p {
    @apply my-2;
  }
  .horizontal-rl {
    -ms-writing-mode: tb-rl;
    writing-mode: horizontal-tb;
  }
  .vertical-rl {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}
