@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 box-border p-0 font-sans text-base font-light leading-7;
  }
  main {
    @apply mx-auto max-w-2xl px-4;
  }
  h1 {
    @apply my-8 border-b-2 border-gray py-4 text-2xl font-bold;
  }
  h2 {
    @apply my-4 text-xl;
  }
  p {
    @apply my-2;
  }
  th,
  td {
    @apply px-2;
  }
  .horizontal-rl {
    -ms-writing-mode: tb-rl;
    writing-mode: horizontal-tb;
  }
  .vertical-rl {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}
